In [11]:
import pandas as pd
from utils.alloys import get_elements_and_compositions, element_to_index
from PyAstronomy import pyasl
an = pyasl.AtomicNo()

In [2]:
df = pd.read_csv("final_df.csv")
display(df)

                               bmg_alloy        paper_sno  actual_d_max
0                      Ti7.0Cu60.0Zr33.0  [1, 5, 6, 7, 9]           3.0
1                 Ti7.0Cu54.0Zr33.0Ag6.0  [1, 5, 6, 7, 9]           6.0
2                Ti7.0Cu46.4Zr35.0Ag11.6  [1, 5, 6, 7, 9]           6.0
3                Ti6.0Cu44.2Zr35.0Ag14.7           [1, 6]           8.0
4                Ti5.0Cu44.2Zr36.0Ag14.7           [1, 6]          10.0
...                                  ...              ...           ...
1582       Al19.8Co19.8Cu4.95Zr54.4Ag1.0              [7]          10.0
1583            Al15.6Ni11.2Cu11.2La62.0              [7]          11.0
1584  Al14.0Co2.0Ni2.0Cu16.6Ag3.33La62.0              [7]          16.0
1585  Al14.0Co4.0Ni4.0Cu13.3Ag2.67La62.0              [7]          16.0
1586  Al14.0Co5.0Ni5.0Cu11.6Ag2.33La62.0              [7]          20.0

[1587 rows x 3 columns]

In [4]:
unique_elements = []
for index, row in df.iterrows():
    elements, compositions = get_elements_and_compositions(row['bmg_alloy'])
    unique_elements.extend(elements)
unique_elements = set(unique_elements)

In [5]:
print(unique_elements)

{'Sm', 'Sc', 'Fe', 'La', 'Nd', 'W', 'Mn', 'Mo', 'Ga', 'Tb', 'Pb', 'Si', 'Pr', 'Zn', 'Ca', 'Ti', 'Al', 'Ho', 'Cr', 'Mg', 'Zr', 'V', 'Bi', 'P', 'Pd', 'Y', 'C', 'Li', 'Ag', 'Ni', 'Ge', 'Lu', 'Sn', 'Co', 'In', 'Ta', 'Au', 'Pt', 'Ce', 'Cu', 'Hf', 'Gd', 'Dy', 'Tm', 'B', 'Be', 'Yb', 'Nb', 'Er'}

In [7]:
unique_elements_with_atomic_number = {}
for element in unique_elements:
    unique_elements_with_atomic_number[element] = element_to_index(element)
print(unique_elements_with_atomic_number)

{'Sm': 62, 'Sc': 21, 'Fe': 26, 'La': 57, 'Nd': 60, 'W': 74, 'Mn': 25, 'Mo': 42, 'Ga': 31, 'Tb': 65, 'Pb': 82, 'Si': 14, 'Pr': 59, 'Zn': 30, 'Ca': 20, 'Ti': 22, 'Al': 13, 'Ho': 67, 'Cr': 24, 'Mg': 12, 'Zr': 40, 'V': 23, 'Bi': 83, 'P': 15, 'Pd': 46, 'Y': 39, 'C': 6, 'Li': 3, 'Ag': 47, 'Ni': 28, 'Ge': 32, 'Lu': 71, 'Sn': 50, 'Co': 27, 'In': 49, 'Ta': 73, 'Au': 79, 'Pt': 78, 'Ce': 58, 'Cu': 29, 'Hf': 72, 'Gd': 64, 'Dy': 66, 'Tm': 69, 'B': 5, 'Be': 4, 'Yb': 70, 'Nb': 41, 'Er': 68}

In [9]:
unique_elements_with_atomic_number = dict(sorted(unique_elements_with_atomic_number.items(), key=lambda item: item[1]))

In [12]:
print(unique_elements_with_atomic_number.values())

dict_values([3, 4, 5, 6, 12, 13, 14, 15, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 39, 40, 41, 42, 46, 47, 49, 50, 57, 58, 59, 60, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 78, 79, 82, 83])

In [14]:
for atomic_number in unique_elements_with_atomic_number.values():
    print(an.getElementName(atomic_number), end=", ")

Lithium, Beryllium, Boron, Carbon, Magnesium, Aluminium, Silicon, Phosphorus, Calcium, Scandium, Titanium, Vanadium, Chromium, Manganese, Iron, Cobalt, Nickel, Copper, Zinc, Gallium, Germanium, Yttrium, Zirconium, Niobium, Molybdenum, Palladium, Silver, Indium, Tin, Lanthanum, Cerium, Praseodymium, Neodymium, Samarium, Gadolinium, Terbium, Dysprosium, Holmium, Erbium, Thulium, Ytterbium, Lutetium, Hafnium, Tantalum, Tungsten, Platinum, Gold, Lead, Bismuth,